<table>
  <tr>
    <td>First operation</td>
    <td>  
      <button (click)="retrieveChannels()">Get Channels</button>
    </td>
  </tr>
  <tr>
      <td>Second operation</td>
      <td>  
        <input type="number" [(ngModel)]="channelID" />
      </td>
      <td>  
        <button (click)="retrieveShows(channelID)">Get Shows</button>
      </td>
    </tr>  
</table>

<br/>
<h1 *ngIf="channels">Channels</h1>
<table border="2" *ngIf="channels">
  <tr *ngFor="let channel of channels">
    <td>{{ channel.id }}</td>
    <td>{{ channel.name }}</td>
  </tr>
</table>

<br/>
<h1 *ngIf="shows && shows.length > 0">Shows</h1>
<table border="2" *ngIf="shows && shows.length > 0">
  <tr *ngFor="let show of shows">
    <td>{{ show.id }}</td>
    <td>{{ show.name }}</td>
    <td>{{ show.startTime }}</td>
  </tr>
</table>
<div>{{showsNotification}}</div>